/*
Sass::SyntaxError: Undefined variable: "!html_background".
on line 10 of /Users/jlippiner/Projects/charlotte20/app/stylesheets/partials/_application.sass

6: @import partials/sidebar.sass      
7: 
8: html, body
9:   padding: 0
10:   background= !html_background
11:   width: 860px
12: 
13: body
14:   background= !body_background
15:   font-size= !base_font_size
16:   font-family= !body_font


Backtrace:
/Users/jlippiner/Projects/charlotte20/app/stylesheets/partials/_application.sass:10
/Users/jlippiner/Projects/charlotte20/app/stylesheets/partials/_application.sass:10
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/script/variable.rb:27:in `perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/prop_node.rb:99:in `perform!'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:181:in `_perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:158:in `perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `perform_children'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `map'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `perform_children'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:193:in `perform!'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/rule_node.rb:159:in `perform!'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:181:in `_perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:158:in `perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `perform_children'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `map'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `perform_children'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/import_node.rb:35:in `perform!'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:181:in `_perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:158:in `perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `perform_children'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `map'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:202:in `perform_children'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:193:in `perform!'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:181:in `_perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:158:in `perform'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/tree/node.rb:103:in `render'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:96:in `update_stylesheet'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:77:in `each'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:77:in `update_stylesheets'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:75:in `each'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:75:in `update_stylesheets'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin.rb:62:in `check_for_updates'
/Users/jlippiner/.gem/ruby/1.8/gems/haml-2.2.16/lib/sass/plugin/rails.rb:18:in `process_without_compass'
/Users/jlippiner/Projects/charlotte20/vendor/gems/chriseppstein-compass-0.8.16/lib/compass/app_integration/rails/action_controller.rb:7:in `process'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/base.rb:391:in `process'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/base.rb:386:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/routing/route_set.rb:437:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:87:in `dispatch'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:121:in `_call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/Users/jlippiner/.gem/ruby/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/Users/jlippiner/.gem/ruby/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:9:in `cache'
/Users/jlippiner/.gem/ruby/1.8/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:28:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/params_parser.rb:15:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/session/cookie_store.rb:93:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/failsafe.rb:26:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `synchronize'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:114:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/reloader.rb:34:in `run'
/Users/jlippiner/.gem/ruby/1.8/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:108:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rails-2.3.4/lib/rails/rack/static.rb:31:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:46:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `each'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rails-2.3.4/lib/rails/rack/debugger.rb:17:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rails-2.3.4/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/content_length.rb:13:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/chunked.rb:15:in `call'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:64:in `process'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Users/jlippiner/.gem/ruby/1.8/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:34:in `run'
/Users/jlippiner/.gem/ruby/1.8/gems/rails-2.3.4/lib/commands/server.rb:111
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!html_background\".\A on line 10 of /Users/jlippiner/Projects/charlotte20/app/stylesheets/partials/_application.sass\A \A 6: @import partials/sidebar.sass      \A 7: \A 8: html, body\A 9:   padding: 0\A 10:   background= !html_background\A 11:   width: 860px\A 12: \A 13: body\A 14:   background= !body_background\A 15:   font-size= !base_font_size\A 16:   font-family= !body_font\A "; }
