@import partials/base.sass
@import partials/facebox_content.sass

html, body
  padding: 0
  background= !html_background
  width: 860px

body
  background= !body_background
  font-size= !base_font_size
  font-family= !body_font
  margin: 0px auto

  #header
    overflow: hidden
  
    #logo
      +float-left

    #subtitle
      +float-left
      padding-top: 40px

  #main
    overflow: hidden
    padding-left: 15px
    
    h1
      font-size: 1.50em
      font-weight: bold
      color: #003366
      
    h2
      font-size: 1.25em
      font-weight: bold

    .left
      background: url(/images/page-marker.png) no-repeat
      +float-left
      width: 525px
      padding-left: 20px
      padding-top: 40px
      
      
    #sidebar
      +float-right
      margin-top: 5px
      padding-left: 10px
      background: url(/images/line-v.png)  repeat-y 
      width: 250px
      
      #twitter
        margin-top: 50px
        -moz-border-radius: 5px
        -webkit-border-radius: 5px
        background: #DDD
        background: rgba(51,51,51,.1)
        position: relative
        -webkit-transition: background .3s

        &:hover
          background: #DDD
          background: rgba(51,51,51,.2)

        a
          display: block
          background: url(/images/twit-follow.png) no-repeat 10px 50%
          text-indent: -9999px
          height: 50px
          overflow: hidden

        img
          position: absolute
          right: 5px
          top: -10px

      
      .nav
        -moz-border-radius: 5px
        -webkit-border-radius: 5px
        -webkit-transition: all .2s
        background: #DDD
        background: rgba(51,51,51,.1)
        padding: 5px 10px 2px
        margin-bottom: 10px

        .items
          width: 180px
          margin-bottom: 10px
          overflow: hidden
          
        text-transform: uppercase

        h2
          font-family: 'MuseoCustom', 'Century Gothic', Arial, Helvetica, sans-serif
          line-height: 1.2
          font-size: 1em
          background: url(/images/arrow-dn.png) no-repeat 100% 5px
          font-weight: bold
          margin: 0 0 20 0
          padding: 0
          line-height: 20px
          color: #666

          &.collapsed
            background-image: url(/img/arrow-dn.png)

        h3
          text-transform: uppercase
          margin: 0
          font-size: 12px
          
        p
          font-size: .95em
          
        form
          input, textarea
            width: 200px
            
        .fieldWithErrors
          color: red
          margin: 0px
          padding: 0px
          
          input
            +border-red
            color: black
            margin: 0px
      
          

  #supporters, #supporter
    background: #FFF url(/images/line.png) repeat-x 
    border-top: 1px solid #999
    padding: 5px
    text-transform: uppercase
    color: #666
    position: relative
    
    #with_logos
      margin-top: 10px
      overflow: hidden
      
      .supporter
        +float-left
        vertical-align: middle
      
    #without_logos
      overflow: hidden
      bottom: 10px
      
      .supporter
        +float-left
        margin-right: 10px
    

  
  #footer
    text-align: center
    font-size: .9em
    background: rgba(51,51,51,.25)
    padding: 15px 0px

.green_button
  +button(15em)

    
.info_box
  margin: 5px
  +normal
  padding: 5px
  border: 1px dotted #333
  background: #ccc
  color: black
  

#errorExplanation
  +error
  
  ul
    padding: 0

    li
      margin: 15px 0px
      line-height: 1.1em
      
