#map
  %h2
    Mapping Charlotte's Web Community
  %span
    %p.small-btn
      %a{:href =>'http://maps.google.com/maps/ms?hl=en&amp;client=safari&amp;ie=UTF8&amp;fb=1&amp;gl=us&amp;hq=Common+Market&amp;hnear=charlotte+nc&amp;view=map&amp;ved=0CBEQpQY&amp;ei=3WEeS8TSAoaoyATN7NTuAg&amp;msa=0&amp;msid=116518245806486730699.00047a1b736e45369897d&amp;ll=35.196256,-80.852509&amp;spn=0.134668,0.219727&amp;z=12&amp;source=embed'} Add to Map
  .clear
  
  %p
    %iframe{ :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps/ms?hl=en&amp;client=safari&amp;ie=UTF8&amp;fb=1&amp;gl=us&amp;hq=Common+Market&amp;hnear=charlotte+nc&amp;view=map&amp;ved=0CBEQpQY&amp;ei=3WEeS8TSAoaoyATN7NTuAg&amp;msa=0&amp;msid=116518245806486730699.00047a1b736e45369897d&amp;ll=35.196256,-80.852509&amp;spn=0.134668,0.219727&amp;z=11&amp;output=embed", :frameborder => "0", :height => "250", :width => "930" }
 