%div{ :class => 'span-16 first open-letter' }
  %h2 A open letter to the Charlotte Community

%div{ :class => 'span-7 last support' }
  %h2 Show your support for Charlotte 2.0
  %p{:class => 'small-btn'} 
    = link_to "read more #{image_tag('small-tic.png')}"
  
  
