#post
  #show
    - title "Post"

    %p
      %strong Title:
      =h @post.title
    
    %p
      %strong Permalink:
      =h @post.permalink    
    
    %p
      %strong Posted At:
      =h @post.posted_at
    %p
      %strong Tags:
      =h @post.tag_list      
    %p
      %strong Body:
      = RedCloth.new(@post.body).to_html

    %p
      = link_to "Edit", edit_admin_post_path(@post)
      |
      = link_to "Destroy", [:admin, @post], :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "View All", admin_posts_path
