%h1
  An Open Letter To The Charlotte Community

%p  
  Anyone living in Charlotte who is honest with themselves knows that Charlotte is changing.  What was once a 
  banking powerhouse is now faced with some difficult yet exciting decisions, essentially "what will Charlotte become?" 
  While the last 15+ years have seen rapid growth in our infrastructure, businesses, community and quality of life, 
  the next 15 years will define the "true" Charlotte of the 21st Century.
  
%p
  Banking and manufacturing, as well as Nascar, will always define Charlotte.  Despite this, for Charlotte to become a 
  truly diversified, "top ten" city, we need to look beyond what we know and are comfortable with to try to attract 
  both talent and businesses from a diverse background.
  
%p
  We currently face a significant problem not seen in most major cities and almost completely ignored or brushed over 
  by the typical Charlotte city leader - Charlotte <b>does not</b> attract start-up web-based companies.  Put a post 
  on Craigslist for a "Ruby on Rails" developer, or an "SEO" marketer, or a "Web 2.0 graphic designer" and you will be 
  lucky to receive a single response where the same ad in Asheville, Atlanta or even Wilmington is guaranteed to generate 
  interest.  Attend a "meet-up" with other "new media" colleagues and you will be lucky if a dozen show up.  Try to 
  locate more than half a dozen Internet start-ups in the Metro area and you will be lucky to find five.
  
%p 
  Why does this matter?  Start-ups breed innovation, they breed ideas, they breed companies and opportunities, jobs, 
  revenue and tax dollars.  The individual attracted to a start-up loves the arts, outdoors, culture and socializing.  Web 
  based start-ups have literally changed the business landscape forever and continue to redefine the types of products 
  and services offered to both business and consumers.
  
%p
  Almost as important, the handful of Charlotte-based web companies, Internet businesses, web-development shops and 
  the like are struggling to attract the talent we need to succeed.  Who wants to move to an area, regardless of how 
  amazing the quality of life is, where the culture that supports their "passion" simply does not exist.  Furthermore, 
  relocating individuals and their families is often so cost prohibitive that "outsourcing" to San Francisco, New York, 
  Boston, Denver or the like becomes financially necessary.  
  
%h2
  Let's Introduce Charlotte To The Internet Community
  
%p
  As a city, we have the opportunity to introduce this wonderful, vibrant community to the passionate, creative and 
  business hungry population known as Internet Entrepreneurs.  No one is expecting Charlotte to become the next 
  Silicon Valley, but as a major player in the US Metro landscape it is imperative to our survival and 
  growth that we begin to register as at least an <b>option</b> for those looking to start something that can 
  become the next Amazon, eBay or Google.
  
%p
  Proven models for attracting Internet Entrepreneurs exist.  They include the creation of "Internet incubators" 
  designed to support and help develop start-up Internet ideas into large scale legitimate businesses.  Other 
  ideas include the creation of communal workspaces, where small start-up teams can come together to not 
  only work but surround themselves with other like-minded individuals.
  
%p
  The Charlotte 2.0 initiative is meant to be a start.  The goal is simple - to convince our city leaders, including 
  our new mayor, Anthony Foxx, the Chamber of Commerce and the Charlotte Technology Center, to allocate resources towards exploring 
  ways to attract web talent to Charlotte.
  
%p
  Anyone in Charlotte attempting to create a true "web-based" start-up company you understand the gravity of 
  our current situation.  Together our voices can be heard.  
