
- content_for :masthead do
  = render :partial => 'partials/root/masthead'


- content_for :map do
  = render :partial => 'partials/root/map'


- content_for :sidebar do 
  =render :partial => 'shared/sidebar'


= render :partial => 'shared/posts', :collection => @posts, :as => :post
  