body#posts.show #main-column
  border-top: 5px solid
  border-color= !light
  
  h1
    font-size: 1.7em
    padding: 15px 17px 4px
    margin: 0
    font-weight: bold
    
  #post
    padding: 0 20px 20px 20px
    
    
  .date
    padding: 0 0 5px
   
    
  .body
    padding: 0 0 10px
    
    p
      margin: 0 0 1.0em
      font-size: 1.2em
     
  .permalink
    padding: 0 0 10px
      
  .comments
    margin: 10px 0 0
    
#main-column
  border-top: 20px solid
  border-color= !light
  
.post
  padding: 20px
  border-bottom: 1px dotted 
  border-color= !lighter
  position: relative
  
  h1
    font-size: 1.5em
    margin: 0
    padding: 0 50px 0 0
    font-weight: bold
    
    a
      text-decoration: none
      color: #002D4D
    
    a:hover
      text-decoration: underline
  
  h2.date
    font-size: 0.9em
    margin: 0
    padding: 0
    position: absolute
    right: 20px
    top: 20px
    
  span
    float: right
    
  p.small-btn
    +small-btn(!lighter,!base)
    
  
    
  .summary
    padding: 10px 0
    font-size: 1.1em
    color: #000