#sidebar
  background= "url(/images/twitter-bird.jpg) no-repeat top center"
  background-color= !lighter
  padding: 113px 0 0 50px
  margin: 0 0 0 -10px
  border-top: 10px solid !light
  position: relative
  
  .content
    margin: 0 0 0 -30px
    padding: 0
  
  h2.twitter
    position: absolute
    top: 0
    padding: 50px 5px 0 33px
    font-weight: bold
    font-size: 1.4em
    color= !base
    letter-spacing: -1px
    
    a
      text-decoration: none
      color= !base
      
    a:hover
      text-decoration: underline